.menuContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.superiorNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9d9999;
  width: 100%;
  height: 106px;
  position: absolute;
}

.logout-button {
  display: flex;
  width: 83px;
  height: 30px;
  margin: 44px 63px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  border: none;
  color: #f3ede2;
  background-color: #101315;
}
.logout-button:hover {
  cursor: pointer;
}

.logo-waiter-layout {
  width: 81.67px;
  height: 65px;
  padding-top: 23px;
  padding-right: 20px;
}
/*.menu {
  margin-top: 106px;
  flex-direction: row;
  width: 674px;
  height: 100%;
  border-right: 1px solid #9d9999;
}*/

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.options-and-products-container{
  margin-top: 106px;
  width: 55%;
  height: auto;
  border-right: 1px solid #9d9999;
}

.logo-logout {
  display: flex;
  position: absolute;
  height: 31.42px;
  width: 28.19px;
  left: 25px;
  top: 45px;
}

.logo-logout:hover {
  cursor: pointer;
}

.button {
  position: absolute;
  width: 192px;
  height: 47px;
  background: #3d3838;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 20px;
  color: #f3ede2;
}

.button.center {
  left: 240px;
  top: 30px;
}

.button.left {
  left: 24px;
  top: 30px;
}

/*.button:hover {
  background-color: #f3ede2;
  color: #3d3838;
  cursor: pointer;
  border: 2px solid #101315;
}*/
.button:active {
  background-color: #f3ede2;
  color: #3d3838;
  cursor: pointer;
  border: 2px solid #101315;
}

.options-menu {
  border-bottom: 1px solid #9d9999;
  position: relative;
  height: 106px;
}

.user-name-and-person-icon-container {
  position: absolute;
  top: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.logo-person {
  /*display: flex;*/
  position: absolute; 
  height: 40px;
  width: 40px;
  left: 24px;
  bottom: 30px;
}

.waiter-name {
  /*display: flex;*/
  position: absolute;
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  left: 65px;
  bottom: 40px;
  color: #f3ede2;
}

.order-summary-container {
/*  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*align-content: flex-start;*/
  position: relative;
  width: 45%;
  height: 100%;
}

.order-summary-text {
  position: absolute;
  width: 100%;
  height: 34px;
  top: 113px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-bottom: 1px solid #9d9999;
  color: #f3ede2;
}

.input-customer-name {
  border-bottom: 1px solid #9d9999;
  height: 65px;
  top: 147px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

label {
  width: 175px;
  height: 27px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #f3ede2;
}

.customer-name-input {
  font-family: "Quicksand";
  font-size: 20px;
  width: 60%;
  height: 43px;
  background: #3d3838;
  border-radius: 10px;
  color: #f3ede2;
  border: none;
  outline: none;
  padding-left: 24px;
}

.order-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.order-description {
  height: 400px;
  width: 97%;
  top: 236px;
  color: #f3ede2;
  padding: 24px 0px 0px 14px;
  overflow-y: scroll;
}

.order-description::-webkit-scrollbar {
  width: 10px;
  background-color: #f3ede2;
  margin-right: 24px;
}
.order-description::-webkit-scrollbar-thumb {
  background-color: #de9468;
  border-radius: 10px;
}

table {
  width: 100%;
}
.style-name-column {
  width: 200px;
  padding: 0 20px;
}

.style-delete-column {
  width: 100px;
}

.order-descriptiion-totalprice-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 24px;
  color: #f3ede2;
  margin-left: 24px;
}

.number-price {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 24px;
  color: #f3ede2;
  margin-right: 24px;
}

.send-button {
  width: 472px;
  height: 47px;
  background: #3d3838;
  border: 2px solid #f3ede2;
  border-radius: 10px;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 20px;
  /* identical to box height */
  text-align: center;
  color: #f3ede2;
}

.send-button:hover {
  background-color: #f3ede2;
  color: #3d3838;
  cursor: pointer;
}

.send-button.orders {
  top: 745px;
  margin-left: 24px;
}

.empty-order-message{
  width: 500px;
  height: 250px;
  position: absolute;
  color: #f3ede2;
  margin: 300px 0 0 50px
}

.Modal {
    display: flex;
    position: absolute;
    background-color: BLACK;
    width: 100%;
    height: 100%;
    margin-top: -834px;
    color: #F3EDE2;
    opacity: 0.9;
}

.Overlay {
  background-color: #de9468;
}
.modal-text {
  position: absolute;
  font-family: "Quicksand";
  font-size: 30px;
  width: 700px;
  height: 43px;
  margin: 380px 0px 0px 300px;
}
.modal-button-left {
  position: absolute;
  width: 192px;
  height: 47px;
  background: #3d3838;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 30px;
  color: #f3ede2;
  left: 400px;
  text-align: center;
  top: 450px;
}
.modal-button-right {
  position: absolute;
  width: 192px;
  height: 47px;
  background: #3d3838;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 30px;
  color: #f3ede2;
  text-align: center;
  left: 650px;
  top: 450px;
}
.modal-button-right:hover {
    background-color: rgb(255, 145, 0);    ;
    color: #3D3838;
    cursor: pointer;
}
.modal-button-left:hover {
  background-color: #b4b06a;
  color: #3d3838;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .send-button {
    width: 215px;
  }
}
@media (max-width: 768px) {
  .options-menu {
    height: 190px;  
  }
  .button.center {
    left: 24px;
    top: 110px;
  }
}